<h1>Medication List</h1>
<div class="table-responsive">
  <table class="table table-hover ">
    <thead>
      <tr>
        <th>Medication Name</th>
        <th>Dosage</th>
        <th> </th>
        <th>Frequency</th>
      </tr>
    </thead>
    <tbody> <%= render @medications %> </tbody>
  </table>
</div>
<div class="row">
  <div class="col-md-8">
    <div class="media">
      <div class="media-body">
        <h4 class "media-heading">
          <%= link_to 'New', new_user_medication_path(current_user.id) %>
        </div>
      </div>
    </div>
  </div>

  <h1>Migraine Intensity List</h1>
    <div class="table-responsive">
      <table class = "table table-hover">
          <% @migraines.each do |migraine| %>
          <thead>
            <tr>
              <th>Migraine Occurrance</th>
              <th>Migraine Intensity</th>
            </tr>
          </thead>
          <tbody>
            <%= render partial: "migraines/migraine",locals: { migraine: migraine } %>
            <thead>
              <tr>
                <th>Food?</th>
                <th>Glasses of Water</th>
                <th>Cups of Caffeine</th>
              </tr>
            </thead>
            <% migraine.surveys.each do |survey| %>
              <%= render partial: "surveys/survey", locals: { survey: survey } %>
            <% end %>
          <% end %>
       </tbody>
      </table>
    </div>
    <div class="row">
      <div class="col-md-8">
        <div class="media">
          <div class="media-body">
            <h4 class "media-heading">
              <%= link_to 'New', new_user_migraine_path(current_user.id) %>
            </div>
          </div>
        </div>
      </div>
